 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: antiquewhite;
     background-position: center;
     background-size: 80%;
 }


 main {
     background-color: white;
     width: 50%;
     margin: auto;
 }

 .contato {
     display: flex; 
     flex-direction: column;
     
    
 }

 .header {
    display: flex;
    justify-content: left;
     font-style: italic;
     font-family: 'Trebuchet MS';
     font-size: 20px;
 }

 .logo {
    display: flex;
    flex-direction: row;
 }
 
 .rodape{
    display: flex;
    justify-content: left;
    padding-top: 380px;
 }

 .imagem{
    display: flex;
    justify-content: center;

 }

 