
.bar{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    
    
}

.info{
padding-right: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    background-position: center;
    background-size: 80%;
}


main {
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    font-style: italic;     
    font-family: 'Trebuchet MS';
    font-size: 20px;
}   


.barra{
    width: 350px;
    height: 40px;
}

.secoes {
    padding-right: 80px;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
    
}

.paragrafo1 {
    padding: 15px;
    
}

.logo {
    display: flex;
    flex-direction: row;

}

.figura {
    padding-left: 80px;
}

.Titulo {
    padding-right: 100px;
}

.link {
    display: flex;
    flex-direction: row;
}

.instrumentos{
    display: flex;
    flex-direction: row;
}

.tabela-total{
display: flex;
flex-direction: column;
justify-content: left;


}


.tabela {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;

}

.th {
    border: 1px solid #0e0d0d;
    text-align: left;
    padding: 8px;
}

.td {
    border: 1px solid #0e0d0d;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}

.album {
    display: flex;
    justify-content: space-evenly;
    
    height: 300px;
}

.rodape{
    display: flex;
    justify-content:left;
    font-size: 15px;
    padding-left: 10px;
}

.diretos-reservados{
    display: flex;
    justify-content:left;
    font-size: 15px;
    padding-left: 90px;
}

.linha {
    height: 1px;
    background-color: #757272;
    margin: 10px 0;
}

