body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    background-position: center;
    background-size: 80%;
}


main {
    background-color: white;
    width: 90%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-family: 'Trebuchet MS';
    font-size: 20px;
}

.barra{
    width: 450px;
    height: 80px;
}

.paragrafo1 {
    padding: 15px;
}

.logo {
    display: flex;
    flex-direction: row;

}

.figura {
    padding-left: 80px;
}

.Titulo {
    padding-right: 100px;
}

.secoes {
    padding-right: 80px;
    text-decoration: underline;
}

.link {
    display: flex;
    flex-direction: row;
}

.tabela {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;

}


.th {
    border: 1px solid #0e0d0d;
    text-align: left;
    padding: 8px;
}

.td {
    border: 1px solid #0e0d0d;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}




.album {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
}